a,img {
    transition: 1s all;
}
a:hover {
    color:rgba(57, 103, 255, 0.719);
    font-size: 100px;
}
img:hover {
    width: 50%;
}
a{
    color: white;
}
.namebio{
    color: rgb(206, 146, 255);
    font-family: fantasy;
    font-size: 29px;
    transition: 1s all;
}
.namebio:hover{
    color:rgb(0, 255, 76);
}
    body{
        background-color: rgb(0, 29, 43)
    }
    hr{
        border-style:none;
        border-top-style: dotted;
        border-color: rgba(57, 103, 255, 0.719);
        border-width: 20px;
        width: 15%;
        
    }
    h1{
        color: white;
    }
    h2{
        color: white;
    }
    h3{
        color: white;
    }
    label{color: white;}
    td{
        color: white;
    }
    li{
        color: white;
    }
    .closeakim {
        transition: background-color 1s ease;   
        position: absolute;
        right: 40%;
        padding: 20px;
        background-color: darkblue;
        border-radius: 40%;
        text-decoration: none;
    }
    .closeakim:hover {
        background-color: darkgoldenrod;
    }
    #akimphoto{
        margin: 0% auto;
        height: 650px;
        border-radius: 20px;
        transition: height 1s ease;
    }
    #akimphoto:hover{
        height: 750px;
    }