
a,img {
    transition: 0.25s ;
}

img:hover {
    width: 50%;
}
a{
    color: rgb(255, 0, 0);
    transition: 0.55s;
}
a:hover {
    color: rgb(0, 204, 255) ;
    font-size: 101%;
    font-family: 'Courier New', Courier, monospace;
    transition: 0.35s;  
}

.myname{
font-family: monospace;
font-size:4rem ;
color: red;
}

.namebio{
    color: #000000;
    font-family:fantasy;
    transition: 2s;
    font-size: 290%;
    text-align: center;
}
.namebio:hover{
    color:rgb(255, 0, 0);transition: 0.75s;
}

.divback{
    /*background: linear-gradient(90deg, rgba(255, 255, 255, 1.3) 0%, rgba(255, 255, 255, 0.2) 48%, rgba(255, 255, 255, 0.02) 98%);*/
    background: rgb(19, 19, 37);
    border-radius: 51px;
    width: 45rem;
    height: 10%;
    padding: 2rem 1rem 2rem 1rem;
    margin: 0% auto 0% auto;
    text-align: center;
    border: 2px solid rgb(255, 0, 0);
}

.box1{
    text-align: center;
}
.box2{
    text-align: center;
}

.box3{
    margin: 1rem;
}

.boxakim1{
    margin: 1rem;
}


.h1text{
    color: #ffffffd2;
    font-family: fantasy;
    font-size: 29px;
    transition: 3.75s;
}

    .divborder{
        width: 100%;
        height: 100%;
        border: 10px orange !important;
        position: fixed;
        z-index:2;
        pointer-events:none;
        background:none !important;
        top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         box-shadow:0px 0px 0px 3px rgb(255, 0, 0) inset;
    }


    body{
        background-color: rgb(0, 0, 0);
        margin: 0;
    }
    hr{
        border-style:none;
        border-top-style: dotted;
        border-color: rgb(255, 0, 0);
        border-width: 20px;
        width: 15%;
        
    }
    h1{
        color: white;
        margin-top: 0;
        margin-bottom: 0;
    }
    h2{
        color: white;
    }
    h3{
        color: white;
    }
    h4{
        color: white;
    }
    h5{
        color: white;
    }
    h6{
        color: white;
    }

    label{color: white;}
    td{
        color: white;
    }
    li{
        color: white;
    }
    .closeakim {
        transition:1s , ease; 
        transition: 1s;  
        position: absolute;
        right: 24%;
        padding: 15px;
        background-color: darkblue;
        border-radius: 35%;
        text-decoration: none;
    }
    .closeakim:hover {
        background-color: darkgoldenrod;
        transition: 1s;
    }
    #akimphoto{
        margin: 0% auto;
        height: 650px;
        border-radius: 20px;
        transition: height 1s ease;
    }
    #akimphoto:hover{
        height: 750px;
    }
    .top-container{
        background-color: rgba(128, 130, 255, 0.144);
        padding: 0.5% 70% 0.5% 10%;
        /* border: black;
        border-width: 0px 0px 10px 0px; */
        border-bottom: rgb(0, 0, 0) 3px solid;
        transition: 1.5s;
        border-bottom: 2px solid rgb(255, 0, 0);
        border-top: 2px solid rgb(255, 0, 0);
    }
    .top-container:hover{
    padding-bottom: 5rem;transition: 0.75s;
    }
    .bottom-container{
        background-color:rgba(128, 130, 255, 0.144);
        padding: 0.5% 75% 0.5% 6%;
        border-bottom: rgb(0, 0, 0) 3px solid;
        border-top: 2px solid rgb(255, 0, 0);

    }
    .top-container:hover .hidden-container {
        opacity: 1; 
        /* height: auto; */
        /* display: block; */
        pointer-events:visible;
        }

    .hidden-container{
        /* display: none; */
        height:0px;
        opacity: 0;
        transition: opacity 0.75s linear 0s;
        pointer-events:none;

    }


    .table1{
        margin: 1rem;
    }

    .familylink1{
        margin: 1rem;
    }
    .formmail1{
        margin: 1rem;
    }

    /* .hidden-container a{
        transition: none;
        font-size: 100%;
        color: rgb(0, 204, 255)
        font-family:fantasy;
        
    } */




/*    #default1div{
        padding: 0% 44% 0% 44%;
    }
*/

    /*.defaultdiv0{
        padding: 0% 20% 0% 20%;
    }*/

    /*span{
        display: inline-block;
    }
    */